header {
  text-align: center;
}

.header-info > * {
  margin-bottom: 35px;
  white-space: pre-wrap;
}

.header-info h1 {
  font-size: var(--font-size-massive);
  text-transform: uppercase;
}

.header-info span {
  letter-spacing: 0.5rem;
  font-size: var(--font-size-xlarge);
}

.header-info p {
  font-size: var(--font-size-large);
}
