header {
  text-align: center;
}

header > * {
  margin-bottom: 35px;
}

header h1 {
  font-size: var(--font-size-massive);
  text-transform: uppercase;
}

header span {
  letter-spacing: .5rem;
  font-size: var(--font-size-xlarge);
}

header p {
  font-size: var(--font-size-large);
}
