* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: var(--background-color);
}

.header-gradient-bg {
  background: radial-gradient(
      rgba(0, 0, 0, 0.4) 0%,
      rgba(30, 30, 30, 1) 80%,
      rgba(30, 30, 30, 1) 100%
    ),
    url("../src/assets/luxurybg1.png") 40% 80% / cover no-repeat;
  width: 100%;
  overflow: hidden;
}

.section-padding {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

h1,
h2,
h3 {
  color: var(--font-main-color);
}

p,
span,
a {
  color: var(--font-second-color);
}

ul li {
  font-family: var(--font-family-cormorant);
}

span {
  font-family: var(--font-family-great-vibes);
}

p {
  font-family: var(--font-family-dm-sans);
}
